QLineEdit
{
	border: 1px solid #3873d9;
	border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
	height: 20px;
}

QLineEdit:hover
{
	border: 1px solid #000000;
}

QLineEdit:focus
{
	/*background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, 
	stop:0 rgba(80, 130, 245, 0), 
	stop:0.0852273 rgba(80, 130, 245, 86), 
	stop:0.323864 rgba(80, 130, 245, 0), 
	stop:0.6875 rgba(80, 131, 245, 0), 
	stop:0.926136 rgba(80, 132, 245, 86), 
	stop:1 rgba(80, 132, 245, 0));*/
	
	background-color: qlineargradient(spread:reflect, x1:0, y1:0, x2:1, y2:0, 
	stop:0 rgba(80, 130, 245, 0), 
	stop:0.0852273 rgba(80, 130, 245, 28), 
	stop:0.323864 rgba(80, 130, 245, 0), 
	stop:0.6875 rgba(80, 131, 245, 0), 
	stop:0.926136 rgba(80, 132, 245, 28), 
	stop:1 rgba(80, 132, 245, 0));
}


QPushButton#pushB_new_pro_0 {
    padding:0px 0px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #3873d9;
    background-color: qlineargradient( x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 #4287ff, stop: 1 #356ccc);
										
	image: url(:/menu/page/push_geniral_0.png);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    width: 75px;
	height: 20px;
/*padding-right: 100px;	*/
 }
 
 QPushButton#pushB_new_pro_0:hover {
    image: url(:/menu/page/push_geniral_1.png);
}

QPushButton#pushB_new_pro_0:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
	
	image: url(:/menu/page/push_geniral_1.png.png);
}
 
QPushButton#pushB_new_pro_0:checked {
    image: url(:/menu/page/push_geniral_0.png.png);
}